body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.sidebar {
    background-color: #48ACF0;
    grid-row: 1 / 5;
    color: white;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    grid-column: 2 / -1;
}

.main   {
    grid-column: 2 / 3;
    grid-row: 2 /5;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.trending {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trending p {
    margin: 0;
}